@using WIQuest.Web.Data
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wiQuiz | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    var db = new QuestDbContext();
}
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("zurück zur Startseite", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Stammdaten</a>
                <a href="@Url.Action("Index", "Question")" class="list-group-item"><span class="badge alert-info">@db.Questions.Count()</span>Fragen</a>
                <a href="@Url.Action("Index", "Quiz")" class="list-group-item"><span class="badge alert-info">@db.Quizzes.Count()</span>Quizzes</a>
                <a href="@Url.Action("Index", "TrainingPlan")" class="list-group-item"><span class="badge alert-info">@db.TrainingPlans.Count()</span>Trainingspläne</a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Auswertungen</a>
                <a href="@Url.Action("Index", "QuizGame")" class="list-group-item"><span class="badge alert-info">@db.QuizGames.Count()</span>Spielpartien</a>
                <a href="@Url.Action("Index", "Highscore")" class="list-group-item"><span class="badge alert-info">@db.GameLogs.Count()</span>Highscores</a>
                <a href="@Url.Action("Index", "Analyse", new {area = "Quest"})" class="list-group-item">WI-Quest</a>
            </div>
            @if (User.IsInRole("UserAdmin"))
            {
                <div class="list-group">
                    <a href="@Url.Action("Index", "Home", new {area = "SysAdmin"})" class="list-group-item">Systemverwaltung</a>
                </div>
            }
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    <hr/>
    <footer>
        <ul class="list-inline">
            <li>&copy; @DateTime.Now.Year</li>
            <li><a href="http://www.wi.hm.edu">Fakultät für Wirtschaftsingenieurwesen</a></li>
            <li><a href="http://www.hm.edu">Hochschule München</a></li>
            <li><a href="@Url.Action("Contact", "Home", new { area=""})">Kontakt</a></li>
            <li><a href="@Url.Action("Imprint", "Home", new { area=""})">Impressum</a></li>
        </ul>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>