@model WIQuest.Web.Data.Question


@if (Model.Tags.Any())
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @foreach (var tag in Model.Tags)
            {
                @Html.Raw(tag.Name)
                if (tag != Model.Tags.Last())
                {
                    @Html.Raw(", ")
                }
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @if (Model.Image != null)
                    {
                        <div class="thumbnail">
                            <img src="@Url.Action("ShowImage", "Image", new {area = "", id = Model.Image.Id})"
                                 alt="@Model.Title"
                                 style="height: 80px"/>
                        </div>
                    }
                </div>
                @Html.DisplayFor(modelItem => Model.Text)
                <div class="col-md-6">

                    @foreach (var answer in Model.Answers)
                    {
                        if (answer.IsCorrect)
                        {
                            <p><i class="fa fa-check text-success"></i> @answer.Text</p>
                        }
                        else
                        {
                            <p><i class="fa fa-bolt text-danger"></i> @answer.Text</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    

            }
            else
            {
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        keine Schlagworte
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.Image != null)
                                {
                                    <div class="thumbnail">
                                        <img src="@Url.Action("ShowImage", "Image", new {area = "", id = Model.Image.Id})"
                                             alt="@Model.Title"/>
                                    </div>
                                }
                                @Html.DisplayFor(modelItem => Model.Text)
                            </div>
                            <div class="col-md-6">
                                @foreach (var answer in Model.Answers)
                                {
                                    if (answer.IsCorrect)
                                    {
                                        <p><i class="fa fa-check text-success"></i> @answer.Text</p>
                                    }
                                    else
                                    {
                                        <p><i class="fa fa-bolt text-danger"></i> @answer.Text</p>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                    }




