@model WIQuest.Web.Data.Question

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.Id })
    @Html.ActionLink("Zurück zur Frage", "Details", "Question", new { id = Model.Id }, null)
</p>
<table class="table">
    <tr>
        <th>Ist Korrekt</th>
        <th>Text</th>
        <th>Bild</th>
        <th></th>
    </tr>

@foreach (var item in Model.Answers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsCorrect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @if (item.Image != null)
            {
                <div class="thumbnail">
                    <img src="@Url.Action("ShowImage", "Image", new {area = "", id = item.Image.Id})"
                         alt="@Model.Title" />
                </div>
            }
            else
            {
                <div>kein Bild vorhanden</div>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Bild hochladen", "UploadImage", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>

}
    
</table>
