@model WIQuest.Web.Data.TrainingExercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingExercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailabe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailabe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableUntil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
