
<!DOCTYPE html>
<html lang="de">
<head>
    <title>Orientierung zur Fragenauswahl Hochschule München</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <ul class="list-inline">
                <li>&copy; @DateTime.Now.Year</li>
                <li><a href="http://www.wi.hm.edu">Fakultät für Wirtschaftsingenieurwesen</a></li>
                <li><a href="http://www.hm.edu">Hochschule München</a></li>
                <li><a href="@Url.Action("Contact", "Home", new { area=""})">Kontakt</a></li>
                <li><a href="@Url.Action("Imprint", "Home", new { area=""})">Impressum</a></li>
            </ul>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>